.contian{
    width: 100%;height: 100%;
   color: black;display: flex;flex-direction: row;flex-wrap:wrap;
}
.head{width: 100%;height:50px;padding-top:10px;
display: flex;flex-direction: row;background:rgb(238, 238, 141);font-size:18px;}

.head ul{margin: 0;display: inline;}
.head ul li{float: left;margin-left: 60px;}
#c{ width:100%;
float: left;
height:50px;
color:black;
text-align:center;
font-size:20px;
}
.bodyy{height:600px;
    background:url(http://img.mp.itc.cn/upload/20170620/ff3af58a83a94d7db8a90f6e3a3d6020_th.jpg);
    margin-top:0;
    background-repeat:no-repeat;
    background-position:center;
    width:80%;
float: left;}
.list{width:20%;
background:bisque;
 height:600px;
 float: left;
}
.list ul{
	border: 0;
    width:100%;
    text-align: center;
    float: left;
    border: 0;
    padding:0;
    background: darkorange  ;;
    margin:0;
    height:600px;
}
.list ul li{
    list-style-type: none;
    width: 100%;
    height: 15%;
    font-size:18px;
}
.list ul li button{
    width: 100%;
    height:100%;
    text-align: center;
    display: block;
    border: 0;
    background:darkorange;
    color:black;
    font-size:16px;
}
.f1{text-align:left;
width:40%;margin-left:30%;
background:sandybrown ;
padding-top:80px;
padding-bottom:60px;
padding-left:30px;
}
.imgBox{
            width: 80%;
            height: 550px;
            margin: 0 auto;
        }
  .imgBox img{
            width: 100%;
            height: 550px;
            margin: 0 auto;
            padding-top: 30px;
        }
.img1{display: block; }
.img2{display: none;}
.img3{display: none; }
.buy{text-align:center;margin:0;padding:0;background:sandybrown ;}